<div id='container' ng-app="shortly.shorten">
  <!-- Your html here -->
  <div ng-controller = "ShortenController">
    <form name ="shortenForm" ng-submit="addLink(shortenForm.$valid)" novalidate>
      <input type="url" ng-model="link.url" ng-minlength="4" ng-maxlength="100" class="form-control" />
      <p ng-show="link.url.name.$invalid" class="help-block">Your link is too small.</p>
      <input type="submit">
      <ul>
        <li ng-repeat="link in data.links track by $index"> 
        Link: <button ng-click="urlClickHandler(link)">{{link.url }}</button> , Visits: {{link.visits}}</li>
      </ul>
      <input ng-model ="tester2">
    </form>
  </div>
</div>

